<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="container-fluid">
      Manage News
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6"><?php //echo $order; ?></div>
      <div class="col-lg-3 col-md-3 col-sm-6"><?php //echo $sale; ?></div>
      <div class="col-lg-3 col-md-3 col-sm-6"><?php //echo $customer; ?></div>
      <div class="col-lg-3 col-md-3 col-sm-6"><?php //echo $online; ?></div>
    </div>
  </div>
</div>
<?php echo $footer; ?>